<%- include("templates/header") %>

<main class="thread-container">
  <!-- Thread Details -->
  <div class="thread-main">
    <div class="thread-header">
      <div class="thread-info">
        <h1 class="thread-title"><%= thread.title %></h1>
        <p class="thread-owner">Posted by: <%= thread.owner %></p>
        <p class="thread-date"><%= thread.uploadDate %></p>
      </div>
    </div>
    <div class="thread-body">
      <p><%= thread.text %></p>
    </div>
    <div class="thread-stats">
      <span>Likes: <%= thread.likes %></span> |
      <span>Comments: <%= comments.length %></span>
    </div>
  </div>

  <!-- Comment Section -->
  <div class="comment-section">
    <!-- Add a comment box -->
    <% if(locals.loggedIn && loggedIn) {%>
    <div class="add-comment">
      <form action="/thread/<%= thread.thread_id %>/addComment" method="POST">
        <input
          type="hidden"
          name="user_id"
          value="<%= loggedIn ? user_id : '' %>"
        />
        <textarea
          name="text"
          placeholder="Add a comment..."
          required
        ></textarea>
        <button class="btn btn-outline-secondary" type="submit">
          Post Comment
        </button>
      </form>
    </div>
    <%}%>
    <br />
    <div class="comments-display">
      <% comments.forEach(function(comment) { %>
      <div class="comment-thread">
        <div
          class="comment-container"
          style="margin-left: <%= comment.depth * 40 %>px"
        >
          <!-- Vertical Line for Nested Replies -->
          <div class="line-vertical"></div>
          <div class="line-horizontal"></div>
          <div class="comment-content">
            <div class="comment-header">
              <% if (comment.cloudinary_url == null) { %>
              <i class="bx bxl-mailchimp profile-default"></i>
              <% } else {%>
              <img
                src="<%= comment.cloudinary_url %>"
                alt="Profile Picture"
                class="profile-pic"
              />
              <% } %>
              <div class="comment-info">
                <span class="username"><%= comment.username %></span>
                <span class="comment-date">
                  <%= new Date(comment.created_date).toLocaleString('en-US', {
                  weekday: 'short', year: 'numeric', month: 'short', day:
                  'numeric', hour: '2-digit', minute: '2-digit' }) %>
                </span>
              </div>
            </div>
            <div class="comment-body">
              <p><%= comment.text %></p>
            </div>
            <div class="comment-actions">
              <span>Likes: <%= comment.likes %></span>
              <% if(locals.loggedIn && loggedIn) {%> |
              <button
                class="reply-button"
                data-comment-id="<%= comment.comment_id %>"
              >
                Reply
              </button>
              <%}%>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</main>

<!-- Modal for Reply -->
<div id="replyModal" class="modal commentModal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Reply to Comment</h3>
    <div id="modalCommentBody">
      <!-- Selected comment's body will appear here -->
    </div>
    <form
      action="/thread/<%= thread.thread_id %>/addComment"
      method="POST"
      id="replyForm"
    >
      <input
        type="hidden"
        name="user_id"
        value="<%= loggedIn ? user_id : '' %>"
      />
      <textarea
        name="text"
        rows="3"
        placeholder="Write your reply here..."
        required
      ></textarea>
      <input type="hidden" name="parent_id" id="parent_id" />
      <button type="submit">Submit Reply</button>
    </form>
  </div>
</div>

<script src="/js/commentReply.js"></script>
<%- include("templates/footer") %>
